<!-- {{yield}} -->
<h4>Location: {{fullLocation}}</h4>
<h3>Rentals available in {{city.name}}:</h3>

<ul>
  {{#each sortedRentals as |rental|}}
    {{rental-tile rental=rental}} {{rental-cost rental}}
  {{/each}}
</ul>


<button {{action 'delete' city}}>delete city</button>
